/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

/* Gradient background class */
body {
    background-color: hsla(234, 86%, 3%, 1);
    color: white;
    background-image: radial-gradient(at 0% 100%,
            rgb(56, 35, 31) 0px,
            transparent 50%),
        radial-gradient(at 80% 100%, #067f40 0px, transparent 50%),
        radial-gradient(at 0% 0%, rgba(87, 25, 113, 0.722)0px, transparent 50%);
    min-height: 100vh;
    max-width: 1440px;                                                                              
    margin: 0 auto;
}
/* skill button style */
.btn_bg {
  background: rgba(241, 241, 249, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* title style */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #48dbfb, #feca57, #ff6b6b);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}



/* Custom styles for shiny CTA */
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-angle-offset {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-shine {
  syntax: "<color>";
  initial-value: #8484ff;
  inherits: false;
}

.shiny-cta {
  --gradient-angle: 0deg;
  --gradient-angle-offset: 0deg;
  --gradient-percent: 20%;
  --gradient-shine: #8484ff;
  --shadow-size: 2px;
  position: relative;
  overflow: hidden;
  border-radius: 9999px;
  padding: 0.9rem 2.4rem;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 500;
  color: #ffffff;
  background: linear-gradient(#020617, #020617) padding-box,
    conic-gradient(from calc(var(--gradient-angle) - var(--gradient-angle-offset)),
      transparent 0%,
      #22d3ee 5%,
      var(--gradient-shine) 15%,
      #22d3ee 30%,
      transparent 40%,
      transparent 100%) border-box;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 1px #020617;
  outline: none;
  transition: --gradient-angle-offset 800ms cubic-bezier(0.25, 1, 0.5, 1),
    --gradient-percent 800ms cubic-bezier(0.25, 1, 0.5, 1),
    --gradient-shine 800ms cubic-bezier(0.25, 1, 0.5, 1), box-shadow 0.3s,
    transform 0.25s ease-out;
  cursor: pointer;
  isolation: isolate;
  outline-offset: 4px;
  font-family: "Inter", "Helvetica Neue", sans-serif;
  z-index: 0;
  animation: border-spin 2.5s linear infinite;
}

.shiny-cta:hover {
  --gradient-angle-offset: 45deg;
  --gradient-shine: #a855f7;
  box-shadow: 0 10px 35px rgba(15, 23, 42, 0.8),
    0 0 15px rgba(249, 69, 99, 0.35);
  transform: translateY(-1px);
}

.shiny-cta:active {
  transform: translateY(0px) scale(0.99);
}

@keyframes border-spin {
  to {
    --gradient-angle: 360deg;
  }
}

.shiny-cta::before {
  content: "";
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  --size: calc(100% - 6px);
  --position: 2px;
  --space: 4px;
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle at var(--position) var(--position),
      white 0.5px,
      transparent 0) padding-box;
  background-size: var(--space) var(--space);
  background-repeat: space;
  mask-image: conic-gradient(from calc(var(--gradient-angle) + 45deg),
      black,
      transparent 10% 90%,
      black);
  border-radius: inherit;
  opacity: 0.4;
  pointer-events: none;
}

.shiny-cta::after {
  content: "";
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  aspect-ratio: 1;
  background: linear-gradient(-50deg, transparent, #22d3ee, transparent);
  mask-image: radial-gradient(circle at bottom, transparent 40%, black);
  opacity: 0.6;
  animation: shimmer 4s linear infinite;
  animation-play-state: running;
}

.shiny-cta span {
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  gap: 0.55rem;
}

.shiny-cta span::before {
  content: "";
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  --size: calc(100% + 1rem);
  width: var(--size);
  height: var(--size);
  box-shadow: inset 0 -1ex 2rem 4px #22d3ee;
  opacity: 0;
  border-radius: inherit;
  transition: opacity 800ms cubic-bezier(0.25, 1, 0.5, 1);
  animation: breathe 4.5s linear infinite;
}

@keyframes shimmer {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}